
    <!-- 底部
    ================================================== -->
    <footer>
	  <div class="footer_box">
	    <select name="select1" id="select" class="sel ml0" onchange="if (this.options[this.selectedIndex].value!=''){window.open(this.options[this.selectedIndex].value)};">
	      <option>-----国家部委-----</option>
	      <option value="http://www.gov.cn/guowuyuan/zuzhi.htm">中国人民共和国国务院</option>
	      <option value="http://www.mof.gov.cn/index.htm">中国人民共和国国家财政部</option>
	      <option value="http://www.chinatax.gov.cn/">中国人民共和国国家税务总局</option>
	      <option value="https://www.fmprc.gov.cn/web/">中国人民共和国外交部</option>
	    </select>
	    <select name="select2" id="select" class="sel" onchange="if (this.options[this.selectedIndex].value!=''){window.open(this.options[this.selectedIndex].value)};">
	      <option>-----省直机关-----</option>
	      <option value="http://www.hebei.gov.cn/">河北省人民政府</option>
	      <option value="http://www.tangshan.gov.cn/">唐山市人民政府</option>
	      <option value="http://caofeidian.tangshan.gov.cn/">曹妃甸区人民政府</option>
	    </select>
	    <select name="select3" id="select" class="sel" onchange="if (this.options[this.selectedIndex].value!=''){window.open(this.options[this.selectedIndex].value)};">
	      <option>-----兄弟自贸区-----</option>
	      <option value="http://www.china-tjftz.cn/">天津自贸区</option>
	      <option value="http://www.china-fjftz.gov.cn/">福建自贸区</option>
	      <option value="http://ftz.gd.gov.cn/">广东自贸区</option>
	      <option value="http://www.china-shftz.gov.cn/Homepage.aspx">上海自贸区</option>
	    </select>
	    <select name="select4" id="select" class="sel mr0" onchange="if (this.options[this.selectedIndex].value!=''){window.open(this.options[this.selectedIndex].value)};">
	      <option>-----企业服务-----</option>
	      <option value="https://www.tsrcw.com/">人才服务</option>
	      <option value="http://www.tsvqi.com/tangshan/web/view/index.html">创业服务</option>
	      <!-- <option value="http://trz.smehb.cn/pc.html/">企业服务</option> -->
	      <option value="https://www.tangshanjr.com/home">金融服务</option>
	      <option value="http://cfdpq.hbzwfw.gov.cn/">行政服务</option>
	    </select>
	  </div>
	 <!-- <div class="gb_footer">
	    <ul>
	      <a href="sitemap.xml">站点地图</a> | <a href="/article/index/aid/428.html">使用帮助</a> | <a href="/article/index/aid/430.html">联系我们</a> | <a href="/article/index/aid/429.html">法律声明</a> | <a href="javascript:SetHome(window.location);">设为首页</a> | <a href="javascript:AddFavorite(window.location,document.title);">收藏本站</a>
	    </ul>
	  </div>-->
	  <div class="gb_bottom" style="text-align:center">
	    <div style="display:inline-block;position:relative;vertical-align:middle"> 
	     
	    </div>
	    <div style="display:inline-block;position:relative;vertical-align:middle">
	      <p>招商电话：0315-8820467</p>
	      <p>版权所有：曹妃甸自由贸易港招商网 &nbsp;&nbsp;&nbsp;</p>
	    </div>
	    <div style="display:inline-block;position:relative;vertical-align:middle"> 
	      <script id="_jiucuo_" sitecode='3500000069' src='__STATIC__/ycnh/js/jiucuo.js'></script> 
	    </div>
	  </div>
	</footer>
	<div class="footer_after"></div>
	<script type="text/javascript">
	  function AddFavorite(sURL, sTitle) {
	      sURL = encodeURI(sURL);
	      try{

	          window.external.addFavorite(sURL, sTitle);

	      }catch(e) {
	          try{
	              window.sidebar.addPanel(sTitle, sURL, "");
	          }catch (e) {
	              alert("加入收藏失败，请使用Ctrl+D进行添加,或手动在浏览器里进行设置.");
	          }
	      }
	  }
	  function SetHome(url){
	      if (document.all) {
	          document.body.style.behavior='url(#default#homepage)';
	          document.body.setHomePage(url);
	      }else{
	          alert("您好,您的浏览器不支持自动设置页面为首页功能,请您手动在浏览器里设置该页面为首页!");
	      }
	  }
	</script>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>
