<!-- 导航条
================================================== -->
  <div class="gb_top">
    <div class="container gb_main">
      <div class="left">
        <div class="time_box"> <span id="time"></span> 
          <script language="javascript"> showtime();</script> 
        </div>
        <p>{:C('WEB_SITE_TITLE')}</p>
      </div>
      <!-- <div class="headerRight">
        <div class="gb_search">
          <form method="get" action="query_16ED39ED">
            <input type="text" class="gb_text_box1"  name="keywords" value="" placeholder="请输入关键字" />
            <button type="submit" class="gb_btn_ok">搜 索</button>
            <input type="hidden" name="m" value="home" />
            <input type="hidden" name="c" value="Search" />
            <input type="hidden" name="a" value="lists" />    
          </form>
        </div>
      </div> -->
    </div>
  </div>
