<!-- 首页 魅力曹妃甸 新闻资讯 重点产业 可视化系统 预约拜访 -->
<nav class="nav">
  <ul class="sy1_ul">
    <div class="sy2_inside">
      <li class="sy1_li" style="width: 10%">
        <a href="index.php" class="sy1_tit ">
          <!-- <span class="iconfont icon-shouye" style="margin-right:4px; "></span>首页 -->
          <span class="iconfont" style="margin-right:4px; "></span>首页
        </a>
      </li>
      <li class="sy1_li navli1" style="width: 15%">
        <!-- <a href="{:U('Article/lists?category=meili')}" class="sy1_tit ">
          <span class="iconfont icon-qiyefengcai" style="margin-right:4px; "></span>魅力曹妃甸
        </a> -->
        <a href="{:U('Article/lists?category=news')}" class="sy1_tit ">
          <span class="iconfont" style="margin-right:4px; "></span>新闻中心
        </a>
        <ul class="sy2_ul"> <div class="xl_fta_box"> <div class="info_news">  
          <li><a target="_blank" href="{:U('Article/lists?category=jjcf')}"> 聚焦曹飞</a></li>
          <li><a target="_blank" href="{:U('Article/lists?category=sszw')}"> 实事政务</a></li>
          <li><a target="_blank" href="{:U('Article/lists?category=gwyw')}"> 国务要闻</a></li>
        </div> </div> </ul>
      </li>
      <li class="sy1_li navli2" style="width: 15%">
        <a href="{:U('Article/lists?category=intro')}" class="sy1_tit ">
          <!-- <span class="iconfont icon-xinwen" style="margin-right:4px; "></span> -->
          <span class="iconfont" style="margin-right:4px; "></span>招商引资
        </a>
        <ul class="sy2_ul"> <div class="xl_fta_box"> <div class="info_news">  
          <li><a target="_blank" href="{:U('Article/lists?category=intro')}"> 园区概况</a></li>
          <li><a target="_blank" href="{:U('Article/lists?category=policy')}"> 优惠政策</a></li>
          <li><a target="_blank" href="{:U('Article/lists?category=merchants')}"> 招商领域</a></li>
          <li><a target="_blank" href="{:U('Article/lists?category=law')}"> 政策法规</a></li>
          <li><a target="_blank" href="{:U('Article/lists?category=price')}"> 价格指数</a></li>
          <li><a target="_blank" href="https://pro.formtalk.net/form/bizFormData.do?method=index&formId=F16116461180860000840000&rightId=600fc4b2f0eeb8738148256c&ours_as=540f484729d9a7da23d3614d771b4236996f8158&viewType=NEW&ours_params=7312ED85019D491C1F91BBC5015F73B3EFAE16B54FA4C2E20D5556272D0639D8DB12C2276E0CBD2E9D3C131F30331DD25DA99577F18BFDA5549232EC62B5FB2F260BE504779B6C115C79C35453E23E894259BE6A5C6005F6403F49302C19C2DFEDC5609E259C26E3"> 我要投资</a></li>
        </div> </div> </ul>
      </li>
      <li class="sy1_li navli3" style="width: 15%">
        <a href="{:U('Article/all_project?category=project')}" class="sy1_tit ">
          <!-- <span class="iconfont icon-rencaidongtaiyufazhan" style="margin-right:4px; "></span>重点产业 -->
          <span class="iconfont" style="margin-right:4px; "></span>项目建设
        </a>
        <ul class="sy2_ul"> <div class="xl_fta_box"> <div class="info_news">  
          <li><a target="_blank" href="{:U('Article/img_lists?category=p_port')}"> 在建港口项目</a></li>
          <li><a target="_blank" href="{:U('Article/img_lists?category=p_logistics')}"> 在建物流项目</a></li>
        </div> </div> </ul>
      </li>
      <li class="sy1_li navli4" style="width: 15%">
        <a href="{:U('Article/all_project?category=enterprise')}" class="sy1_tit ">
          <span class="iconfont" style="margin-right:4px; "></span>企业风采
        </a>
        <ul class="sy2_ul"> <div class="xl_fta_box"> <div class="info_news">  
          <li><a target="_blank" href="{:U('Article/img_lists?category=e_port')}"> 港口企业</a></li>
          <li><a target="_blank" href="{:U('Article/img_lists?category=e_logistics')}"> 物流企业</a></li>
          <li><a target="_blank" href="{:U('Article/img_lists?category=e_trade')}"> 贸易企业</a></li>
          <li><a target="_blank" href="{:U('Article/img_lists?category=e_services')}"> 港口服务企业</a></li>
        </div> </div> </ul>
      </li>
      <li class="sy1_li navli5" style="width: 15%">
        <a href="{:U('Article/lists?category=services')}" class="sy1_tit ">
          <span class="iconfont" style="margin-right:4px; "></span>公共服务
        </a>
        <ul class="sy2_ul"> <div class="xl_fta_box"> <div class="info_news">  
          <li><a target="_blank" href="#"> 教育</a></li>
          <li><a target="_blank" href="#"> 医疗</a></li>
          <li><a target="_blank" href="#"> 卫生</a></li>
          <li><a target="_blank" href="#"> 供水</a></li>
          <li><a target="_blank" href="#"> 供电</a></li>
          <li><a target="_blank" href="#"> 排水</a></li>
          <li><a target="_blank" href="#"> 学校</a></li>
          <li><a target="_blank" href="#"> 政府服务机构</a></li>
        </div> </div> </ul>
      </li>
      <!-- <li class="sy1_li" style="width: 12%">
        <a href="{:U('Article/lists?category=building')}" class="sy1_tit ">
          <span class="iconfont" style="margin-right:4px; "></span>优化营商环境
        </a>
      </li> -->
      <!-- <li class="sy1_li" style="width: 11%">
        <a href="https://pro.formtalk.net/form/bizFormData.do?method=index&formId=F16116461180860000840000&rightId=600fc4b2f0eeb8738148256c&ours_as=540f484729d9a7da23d3614d771b4236996f8158&viewType=NEW&ours_params=7312ED85019D491C1F91BBC5015F73B3EFAE16B54FA4C2E20D5556272D0639D8DB12C2276E0CBD2E9D3C131F30331DD25DA99577F18BFDA5549232EC62B5FB2F260BE504779B6C115C79C35453E23E894259BE6A5C6005F6403F49302C19C2DFEDC5609E259C26E3" class="sy1_tit ">
          <span class="iconfont icon-zhitongcheguanjianci" style="margin-right:4px; "></span>预约拜访
          <span class="iconfont" style="margin-right:4px; "></span>预约拜访
        </a>
      </li> -->
      <li class="sy1_li navli6" style="width: 15%">
        <a href="http://220.194.226.154:8000/seeyon/main.do" class="sy1_tit ">
          <!-- <span class="iconfont iconfont icon-ditu1" style="margin-right:4px; "></span>办公系统 -->
          <span class="iconfont" style="margin-right:4px; "></span>办公系统
        </a>
      </li>
    </div>
  </ul>
</nav>