<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1" />
<title>中国（曹妃甸）自由贸易港招商网</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<script> 
   (function() {
     if (! 
     /*@cc_on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
<link rel="stylesheet" type="text/css" href="__STATIC__/ycnh/css/style.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/ycnh/css/common.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/ycnh/css/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/ycnh/css/idangerous.swiper.css" />
<script type="text/javascript" src="__STATIC__/ycnh/js/idangerous.swiper.min.js"></script>
<script type="text/javascript" src="__STATIC__/ycnh/js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="/__STATIC__/ycnh/js/main.js"></script> -->
<script type="text/javascript" src="__STATIC__/ycnh/js/index_tab.js"></script>
<script type="text/javascript" src="__STATIC__/ycnh/js/jquery.superslide.js"></script>
<script type="text/javascript" src="__STATIC__/ycnh/js/jzf.js"></script>
<link rel="stylesheet" type="text/css" href="__STATIC__/ycnh/css/skin20200115.css"/>
<script type="text/javascript" src="__STATIC__/ycnh/js/skin20200115.js"></script>
<script language="javascript" type="text/javascript">
var baseUrl='/',controller='index';
function showtime()
{
var today,hour,second,minute,year,month,date;
var strDate ;
today=new Date();
var n_day = today.getDay();
switch (n_day)
{
    case 0:{
      strDate = "星期日"
    }break;
    case 1:{
      strDate = "星期一"
    }break;
    case 2:{
      strDate ="星期二"
    }break;
    case 3:{
      strDate = "星期三"
    }break;
    case 4:{
      strDate = "星期四"
    }break;
    case 5:{
      strDate = "星期五"
    }break;
    case 6:{
      strDate = "星期六"
    }break;
    case 7:{
      strDate = "星期日"
    }break;
}
year = today.getFullYear();
month = today.getMonth()+1;
date = today.getDate();
hour = today.getHours();
minute =today.getMinutes();
second = today.getSeconds();
document.getElementById('time').innerHTML = year + "年" + month + "月" + date + "日" + strDate +" " + hour + ":" + minute + ":" + second; //显示时间
setTimeout("showtime();", 1000); //设定函数自动执行时间为 1000 ms(1 s)
}
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".tc").find(".tz_box").hide(0);
        $(".tc").hover(
    function () { $(this).css("z-index", "20").find(".tz_box").css("z-index", "50").stop(true, true).animate({ opacity: "show" }); },
    function () { $(this).css("z-index", "1").find(".tz_box").css("z-index", "1").stop(true, true).animate({ opacity: "hide" }); }
    );

        $(".search_text").focus(function () {

            $(this).addClass("focus");

        }).blur(function () {

            $(this).removeClass("focus");

        });
    });
</script>
</head>
<body>
<header>
  <div class="gb_top">
    <div class="container gb_main">
      <div class="left">
        <div class="time_box"> <span id="time"></span> 
          <script language="javascript"> showtime();</script> 
        </div>
        <p>中国（曹妃甸）自由贸易港招商网</p>
      </div>
      <div class="headerRight">
        <div class="gb_search">
          <form method="get" action="query_16ED39ED">
            <input type="text" class="gb_text_box1"  name="keywords" value="" placeholder="请输入关键字" />
            <button type="submit" class="gb_btn_ok">搜 索</button>
            <input type="hidden" name="m" value="home" />
            <input type="hidden" name="c" value="Search" />
            <input type="hidden" name="a" value="lists" />    
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="bg_shoot1">

<!--

<div class="dove"> <img src="/__STATIC__/ycnh/picture/dove.png" > </div>



<div class="plane"> <img src="/__STATIC__/ycnh/picture/plane.png" > </div>-->

<div class="bg_shoot2">
<div class="container">

<div class="gb_logo_box_empty"></div>
<!-- <div class="gb_logo_box">
  <div class="gb_logo" style="float: left;
    background: url(__STATIC__/ycnh/uploads/allimg/20200515/1-20051516142HF.png) no-repeat;
    width: 514px;
    height: 60px;
    display: block;"><a href="index.htm"></a>
  </div>
  <div class="gb_search">
    <form method="get" action="query_16ED39ED">
      <input type="text" class="gb_text_box1"  name="keywords" value="" placeholder="请输入关键字" />
      <button type="submit" class="gb_btn_ok">搜 索</button>
      <input type="hidden" name="m" value="home" />
      <input type="hidden" name="c" value="Search" />
      <input type="hidden" name="a" value="lists" />    
    </form>
  </div>
</div> -->

<div class="gb_mainbox"> 
  <a href="https://pro.formtalk.net/form/bizFormData.do?method=index&formId=F16116461180860000840000&rightId=600fc4b2f0eeb8738148256c&ours_as=540f484729d9a7da23d3614d771b4236996f8158&viewType=NEW&ours_params=7312ED85019D491C1F91BBC5015F73B3EFAE16B54FA4C2E20D5556272D0639D8DB12C2276E0CBD2E9D3C131F30331DD25DA99577F18BFDA5549232EC62B5FB2F260BE504779B6C115C79C35453E23E894259BE6A5C6005F6403F49302C19C2DFEDC5609E259C26E3" target="_blank">
    <img src="__STATIC__/ycnh/uploads/allimg/20200515/1-200515162535V2.jpg" height="96" width="1152" >
  </a> 
</div>

<div class="gb_mainbox">
  <!-- 图片区开始 -->
  <div class="bg_pic">
    <div id="slideBox" class="pic_scroll">
      <div class="bd swiper-container" id="slideBox1">
        <ul class="swiper-wrapper">
          <volist name="banners" id="banner">
            <li class="swiper-slide">
              <a target="_blank" href="#">
                <img src="__ROOT__/{$banner.path}"/>
                <div class="black">
                  <p>{$banner.title}</p>
                </div>
              </a>
            </li>
          </volist>
          
        </ul>
        <div class="pagination"></div>
      </div>
    </div>
    <script>
            var slideBox1 = new Swiper('#slideBox1', {
                pagination: '.pagination',
                paginationClickable: true,
                loop: true,
                autoplay: 3000
            })
            $('#slideBox1').mouseover(function () {
                slideBox1.stopAutoplay();
            })
            $('#slideBox1').mouseleave(function () {
                slideBox1.startAutoplay();
            })
        </script> 
  </div>
  <!-- 图片区结束 -->
  
  <!-- 园区动态开始 -->
  <div class="bg_pic">
    <div class="newstxtbox01">
      <div class="hd">
        <ul>
          <li><a href="{:U('Article/lists2?category=dynamic')}" title="园区动态">园区动态</a></li>
          <!-- <li><a href="query_54F714D1" title="园区动态">园区动态</a></li> -->
        </ul>
      </div>
      <div class="bd mt10">

        <ul class="news_list news_lh35">
          <volist name="dynamics" id="dynamic">
            <li class="news_item"> 
              <a class="text-overflow list-style" title="{$dynamic.title}" target="_blank" href="{:U('Article/detail?id='.$dynamic['id'])}"> 
                {$dynamic.title}
              </a> 
              <span class="date">({$dynamic.create_time|date="m-d",###})</span> 
            </li>
          </volist>
        </ul>

        <!-- <ul class="news_list news_lh35">
          <volist name="dynamics" id="dynamic">
            <li class="news_item"> 
              <a class="text-overflow list-style" title="{$dynamic.title}" target="_blank" href="#"> 
                {$dynamic.title}
              </a> 
              <span class="date">({$dynamic.create_time|date="m-d",###})</span> 
            </li>
          </volist>
        </ul> -->
        
      </div>

      <script type="text/javascript">jQuery(".newstxtbox01").slide();</script> 
    </div>
  </div>
  <!-- 园区动态结束 -->

</div>

<div class="gb_mainbox" style="height: 400px">
  <div class="bg_pic p10" style="width:720px;">
    <div class="newstxtbox">
      <div class="hd">
        <ul>
          <volist name="sub_parks" id="sub_park">
            <li >
              <a href="{:U('Article/lists2?category='.$sub_park['name'])}" title="{$sub_park.title}">
              {$sub_park.title}
              </a>
            </li>
          </volist>
        </ul>
      </div>
      <div class="bd" style="margin-top:10px;"> 
        <volist name="sub_parks" id="sub_park">
          <ul class="news_list news_lh35">
            <volist name="sub_park.document" id="document">
              <li class="news_item"> 
                <a class="text-overflow list-style" title="{$document.title}" target="_blank" href="#"> {$document.title}
                </a> 
                <span class="date">({$document.create_time|date="m-d",###})</span> 
              </li>
            </volist>
          </ul>
        </volist>

      </div>
    </div>
    <script type="text/javascript">jQuery(".newstxtbox").slide();</script> 
  </div>
  
  <div class="bg_pic_right ">
    <ul>
      <li><a target="_blank" href="query_EB15F0B2"><img src="__STATIC__/ycnh/uploads/allimg/20200515/1-2005151K024914.png" width="92" height="92" alt="">博鳌片区</a> </li>
      <li><a target="_blank" href="query_54150124"><img src="__STATIC__/ycnh/uploads/allimg/20200515/1-2005151K034X3.png" width="92" height="92" alt="">三亚片区</a> </li>
      <li><a target="_blank" href="query_8CF65BF6"><img src="__STATIC__/ycnh/uploads/allimg/20200515/1-2005151K0424I.png" width="92" height="92" alt="">海口片区</a> </li>
    </ul>
  </div>

</div>

<div class="gb_mainbox" style="background-color: #fff;padding: 20px 16px;">

  <div class="ft_hd">
    <div class="w740px">
      <div class="work_title title_bg"><span class="iconfont icon-UI_icon_zhuantitu"></span><a target="_blank" href="query_116FFC74">专题专栏</a></div>
      <ul>
        <li class="zhuantiFa"><a target="_blank" href="query_109A407D"><img src="__STATIC__/ycnh/uploads/allimg/20200518/1-20051QPQE51.jpg"></a></li>
        <li class="zhuantiFa"><a target="_blank" href="query_B2225582"><img src="__STATIC__/ycnh/uploads/allimg/20200518/1-20051QPZ0323.jpg"></a></li>       
      </ul>
    </div>
    <div class="gb_notice " style="height: 242px;overflow: hidden;">
      <div class="work_title title_bg duitai"><span class="zhitongche iconfont icon-zhitongcheguanjianci"></span><a target="_blank" href="article/list/gid/70/index.htm">专题推荐</a> </div>
      <div class="ztzl_box">
        <ul>
          <li><a href="query_B3E33D0B" title="海南自由贸易港首次集中签约一批重点项目">海南自由贸易港首次集中签约一批重点项目</a></li>
          <li><a href="query_64468D2D" title="关于电影等行业税费支持政策的公告">关于电影等行业税费支持政策的公告</a></li>
          <li><a href="query_883D841C" title="海南自贸港创业大赛 海口赛区选拔赛启动">海南自贸港创业大赛 海口赛区选拔赛启动</a></li>
          <li><a href="query_85F19BE7" title="海口国际免税城项目加快推进">海口国际免税城项目加快推进</a></li>
          <li><a href="query_3CEA6B71" title="琼海超常规举措抓招商 多领域投资增热度">琼海超常规举措抓招商 多领域投资增热度</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="ft_main">
    <div class="w740px">
      <div class="work_title title_bg">
        <span class="iconfont icon-rencaidongtaiyufazhan"></span>
        <a target="_blank" href="query_EF5300DC">重点产业</a>
      </div>
      <ul class="zhidu">
        <li class="jucuo"> <a target="_blank" href="query_DFEE2177"><span class="iconfont icon-jiangchengcuoshi"></span><span>旅游业</span> </a> </li>     
        <li class="hongli"> <a target="_blank" href="query_68CA0F54"><span class="iconfont icon-jiangchengcuoshi"></span><span>现代服务业</span> </a> </li>     
        <li class="anli"> <a target="_blank" href="query_9641A9DB"><span class="iconfont icon-jiangchengcuoshi"></span><span>高新技术产业</span> </a> </li>     
        <li class="tuiguang"> <a target="_blank" href="query_D82302E5"><span class="iconfont icon-jiangchengcuoshi"></span><span>其他产业</span> </a> </li>     
      </ul>
    </div>
    <div class="gb_notice">
      <div class="work_title title_bg "> <span class="iconfont icon-hudong"></span><a target="_blank" href="index.htm">联系我们</a></div>
      <div class="wx_box">
        <ul>
           <li><a target="_blank" href="query_7CF41E1B"><i class="iconfont icon-wenjuan"></i> 自贸区简介</a></li> <li><a target="_blank" href="query_0C3F09AA" class="zixun"><i class="iconfont icon-guanbi"></i>海南简介</a></li> <li><a target="_blank" href="query_573C3920" class="lianxi"><i class="iconfont icon-respond"></i>机构职能与设置</a></li> <li><a target="_blank" href="query_D037187E" class="callme"><i class="iconfont icon-kefu"></i>联系我们</a></li>        </ul>
      </div>
    </div>
  </div>
  
  <div class="ft_banner">
    <div class="work_title title_bg">
      <span class="iconfont icon-qiyefengcai"></span>海南魅力
      <span class="fengcai" style="display: inline-block;width: 954px; border: 1px solid #2d548f;vertical-align: middle;margin-left: 20px;"></span>
    </div>
    <div class="swiperBOX">
      <div class="swiper-container ft_lun">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <a href="query_14379D29">
              <img src="__STATIC__/ycnh/uploads/thumb/576_350/1-200514101635642.jpeg">
            </a>
            <div class="black">
              <p>海口骑楼老街</p>
            </div>
          </li>
          <li class="swiper-slide">
            <a href="query_DB46E15A">
              <img src="__STATIC__/ycnh/uploads/thumb/576_350/1-200514102RSc.jpeg">
            </a>
            <div class="black">
              <p>陵水椰子岛</p>
            </div>
          </li>
          <li class="swiper-slide">
            <a href="query_E64DB0E8">
              <img src="__STATIC__/ycnh/uploads/thumb/576_350/1-200515150G1206.jpeg">
            </a>
            <div class="black">
              <p>海口综合保税区</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="swiper-button-next"><i class="iconfont icon-jiantou"></i></div>
      <div class="swiper-button-prev"><i class="iconfont icon-jiantou1"></i></div>
    </div>
    
    <script>
        var mySwiper_ft = new Swiper('.ft_lun', {
            slidesPerView: 3,
            autoplay: 1000,
            loop: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
        })
        $('.ft_lun').mouseover(function () {
            mySwiper_ft.stopAutoplay();
        })
        $('.ft_lun').mouseleave(function () {
            mySwiper_ft.startAutoplay();
        })
        $('.swiper-button-prev').click(function () {
            mySwiper_ft.swipePrev();
        })
        $('.swiper-button-next').click(function () {
            mySwiper_ft.swipeNext();
        })
    </script> 

  </div>
</div>
</div>
<div class="clear"></div>
<footer>
  <div class="footer_box">
    <select name="select1" id="select" class="sel ml0" onchange="if (this.options[this.selectedIndex].value!=''){window.open(this.options[this.selectedIndex].value)};">
      <option>-----国家部委-----</option>
      <option value="http://www.gov.cn/guowuyuan/zuzhi.htm">中国人民共和国国务院</option>
      <option value="http://www.mof.gov.cn/index.htm">中国人民共和国国家财政部</option>
      <option value="http://www.chinatax.gov.cn/">中国人民共和国国家税务总局</option>
      <option value="https://www.fmprc.gov.cn/web/">中国人民共和国外交部</option>
    </select>
    <select name="select2" id="select" class="sel" onchange="if (this.options[this.selectedIndex].value!=''){window.open(this.options[this.selectedIndex].value)};">
      <option>-----省直机关-----</option>
      <option value="http://www.hainan.gov.cn/">海南省人民政府</option>
      <option value="http://www.sanya.gov.cn/">三亚人民政府</option>
      <option value="http://www.haikou.gov.cn/">海口人民政府</option>
    </select>
    <select name="select3" id="select" class="sel" onchange="if (this.options[this.selectedIndex].value!=''){window.open(this.options[this.selectedIndex].value)};">
      <option>-----兄弟自贸区-----</option>
      <option value="http://www.china-tjftz.cn/">天津自贸区</option>
      <option value="http://www.china-fjftz.gov.cn/">福建自贸区</option>
      <option value="http://ftz.gd.gov.cn/">广东自贸区</option>
      <option value="http://www.china-shftz.gov.cn/Homepage.aspx">上海自贸区</option>
    </select>
    <select name="select4" id="select" class="sel mr0" onchange="if (this.options[this.selectedIndex].value!=''){window.open(this.options[this.selectedIndex].value)};">
      <option>-----其他-----</option>
      <option value="http://www.sanya.gov.cn/sanyasite/yzkjc/yzwkjc.shtml">崖州湾科技城</option>
      <option value="http://yangpu.hainan.gov.cn/">洋浦经济开发区</option>
      <option value="http://gxq.haikou.gov.cn/blog">海口国家高新区门户</option>
    </select>
  </div>
 <!-- <div class="gb_footer">
    <ul>
      <a href="sitemap.xml">站点地图</a> | <a href="/article/index/aid/428.html">使用帮助</a> | <a href="/article/index/aid/430.html">联系我们</a> | <a href="/article/index/aid/429.html">法律声明</a> | <a href="javascript:SetHome(window.location);">设为首页</a> | <a href="javascript:AddFavorite(window.location,document.title);">收藏本站</a>
    </ul>
  </div>-->
  <div class="gb_bottom" style="text-align:center">
    <div style="display:inline-block;position:relative;vertical-align:middle"> 
     
    </div>
    <div style="display:inline-block;position:relative;vertical-align:middle">
      <p>招商电话：</p>
      <p>版权所有：曹妃甸自由贸易港招商网 &nbsp;&nbsp;&nbsp;</p>
    </div>
    <div style="display:inline-block;position:relative;vertical-align:middle"> 
      <script id="_jiucuo_" sitecode='3500000069' src='__STATIC__/ycnh/js/jiucuo.js'></script> 
    </div>
  </div>
</footer>
<div style="height: 40px; width: 100%; background-color:#1b4586; "></div>
<script type="text/javascript">
  function AddFavorite(sURL, sTitle) {
      sURL = encodeURI(sURL);
      try{

          window.external.addFavorite(sURL, sTitle);

      }catch(e) {
          try{
              window.sidebar.addPanel(sTitle, sURL, "");
          }catch (e) {
              alert("加入收藏失败，请使用Ctrl+D进行添加,或手动在浏览器里进行设置.");
          }
      }
  }
  function SetHome(url){
      if (document.all) {
          document.body.style.behavior='url(#default#homepage)';
          document.body.setHomePage(url);
      }else{
          alert("您好,您的浏览器不支持自动设置页面为首页功能,请您手动在浏览器里设置该页面为首页!");
      }
  }
</script>
</div>
</div>
<script>(function() {var _53code = document.createElement("script");_53code.src = "../tb.53kf.com/code/code/8844c358fe97e90be16b6e6426d1cbf30/1/index.htm";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);})();</script>
</body>
</html>